@model ReservationDtoForInsertion

<head>
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<div class="text-center">
    <div class="display-6">Create Reservation</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="text-danger" asp-validation-summary="All"></div>



    <div class="form-group my-3">
        <label asp-for="ReservationName"></label>
        <input asp-for="ReservationName" class="form-control" type="text" />
    </div>
@*     <div class="form-group my-3">
        <label asp-for="ReservationDate"></label>
        <input asp-for="ReservationDate" class="form-control" id="reservationDate" placeholder="Select date and time" />
    </div> *@

    <div class="form-group my-3">
        <label asp-for="ReservationDay"></label>
        <input asp-for="ReservationDay" class="form-control" id="reservationDate" placeholder="Tarih seçin" />
    </div>

    <div class="form-group my-3">
        <label asp-for="ReservationMessage"></label>
        <input asp-for="ReservationMessage" class="form-control" type="text" />
    </div>

    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Products
            </a>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("#reservationDate", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minDate: "today",
            time_24hr: true,
            minuteIncrement: 30, // Zaman aralıklarını 30 dakikaya ayarlar
            locale: "tr", // Türkçe yerelleştirme
            onChange: function (selectedDates, dateStr, instance) {
                // Bu kısımda seçilen tarihe göre saati kontrol edebilirsiniz.
                // Örneğin, seçilen tarihteki saatleri engellemek isterseniz burada yazabilirsiniz.
            }
        });
    });
</script>
