@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <NavMenu />

    <main class="flex-grow-1">
        @Body
    </main>

    <Footer />
</div>

<div id="blazor-error-ui" data-nosnippet>
    Beklenmeyen bir hata oluştu.
    <a href="." class="reload">Yenile</a>
    <span class="dismiss">🗙</span>
</div>
